<section class="container">
    <h2>Edit Galaxy</h2>
    <form action="/galaxy/<%= @galaxy.id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= @galaxy.name %>">
        <label for="photo_url">Photo URL</label>
        <input type="text" name="photo_url" value="<%= @galaxy.photo_url %>">
        <label for="blurb">Blurb</label>
        <textarea name="blurb"><%= @galaxy.blurb %></textarea>
        <label for="featured">Featured</label>
        <% if @galaxy.featured %>
            <input type="checkbox" name="featured" checked/>
        <% else %>
            <input type="checkbox" name="featured"/>
        <% end %>
        <button>Post</button>
    </form>
</section>